@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");
:root {
  --primary-color:#002147;
  --orange:#F26838;
  --text-primary:#333333;
  --text-secondary:#3f444a;
  --white:#ffffff;
  --black:#000000;
  --box-shadow:0 .1rem .5rem rgba(0,0,0,0.5);
}
::-webkit-scrollbar{
  width: .5rem;
}
::-webkit-scrollbar-track{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  width: 100%;
  background-color: var(--primary-color);
  border-radius: .5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  text-decoration: none!important;
  border: none;
  outline: none;
  /* overflow-x: hidden; */
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;    
}

/* common css start */

a{
  color:var(--white)!important;
  font-size: 1.5rem;
}
.btn-main{
  border: 1px solid var(--orange);
  height: 5rem;
  padding: .5rem 2rem;
  border-radius: .4rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-weight: 600;
  letter-spacing: .2rem;
  text-align: center;
  margin: 0 auto;
}
.btn-main i{
  padding-left: 1rem;
}

.btn-main:hover{
  background-color: var(--white);
  color: var(--orange)!important;
  border-color: transparent;
  box-shadow: var(--box-shadow);
}

h1,h2,h3,h4,h5{
  color: var(--text-primary);
}
p{
  color: var(--text-secondary);
}
.msg{
  background: #08310c;
  width: 80%;
  margin-top: 3rem;
  padding: 1rem 2rem;
  border-radius: .2rem;
  color: var(--white);
  font-size: 1.8rem;
}
.close-btn{
  display: inline-block;
  color: var(--black)!important;
  padding: 1rem 2rem;
  border: 1px solid rgba(0,0,0,0.5);
  margin-top: 1.5rem;
}
form input{
  text-transform: lowercase!important;
}
/* common css end */

/* header section start */
.header{
  width: 100%;
  min-height: 10vh;
  background:var(--primary-color);
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow-x: hidden;
}
.header .navbar{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  position: relative;
}
.header .navbar .logo p{
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
  color: var(--white);
  letter-spacing: .2rem;
  
}
.header .navbar .logo span{
  color: var(--orange);
}
.header .navbar .logo small{
  /* margin-top: -2rem!important; */
  margin-left: 1rem;
}

.header .toggle-btn{
  position: absolute;
  right: 5rem;
  background:transparent;
  cursor: pointer;
}
.header .toggle-btn:hover i{
  color: var(--orange);
}
.header .toggle-btn i{
  color: var(--white);
  font-size: 2.5rem;
  transition: all .2s linear;
}
.header .navbar ul{
  margin-right: 5rem;
}
.header .navbar li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar li i{
  color: var(--white);
  font-size: 2rem;
  margin-left: .5rem;
  margin-top: -1rem;
}
.header ul li:first-child img{
  background: var(--white);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: .1rem;
  object-fit: cover;
}
.profile-menu{
  position: absolute;
  right: 5rem;
  top: 6rem;
  background: var(--primary-color);
  z-index: 1000;
  padding: 2rem 3rem;
  transform: scale(0);
  transform-origin: right top;
  transition: all .2s linear;

}
.profile-menu.active{
  transform: scale(1);
}
.profile-menu li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-menu a{
  display: inline-block;
  margin: .4rem 0;
  transition: all .2s linear;
}
.profile-menu a i{
  padding-right: .5rem;
}
.profile-menu li:hover a{
  color: var(--orange)!important;
}

/* search form start*/
/* .header .search-form .form-controller{
  width: 40rem;
  display: flex;
} 
.header .search-form input[type='search']{
  padding: .7rem 1rem;
  width: 80%;
  border-top-left-radius: .5rem;
  border-bottom-left-radius: .5rem;

}
.header .search-form input[type='button']{
  padding: .7rem 1rem;
  border-top-right-radius: .5rem;
  border-bottom-right-radius: .5rem;
  background: var(--text-secondary);
  color: var(--white);
  transition: all .2s linear;
}
.header .search-form input[type='button']:hover{
  color: var(--orange);
} */
/* search form end */

/* header section end */
/* left box section start */

.left-box{
  width: 17%;
  height:100vh;
  background: var(--primary-color);
  position: fixed;
  left: 0;
  bottom: 0!important;
  top: 0;
  overflow-y: auto;
  transition: all .2s linear;
  padding: 2.5rem 0;
  margin-top: 6.4rem;
  box-shadow: var(--box-shadow);

}
.left-box.active{
  width: 7%;
}
.left-box.active li span{
  display: none;
}
.left-box.active li i{
  font-size: 2.5rem;
}
.left-box ul li{
  margin: 3rem 0;
}
.left-box ul li.active a{
  color: var(--orange)!important;
}
.left-box.active ul li a{
  display: block;
  font-size: 1.8rem;
  padding-left: 3.5rem; 

}
.left-box ul li a{
  display: block;
  font-size: 1.8rem;
  padding-left: 3.5rem; 
  transition: all .2s linear;

}
.left-box li:hover a{
  color: var(--orange)!important;
}
.left-box li a i{
  padding-right: .8rem;

}

/* left box section end */

/* right section start */
.right-box{
  width: 83%;
  background: var(--white);
  margin-left:17% ;
  padding: 10rem 2rem 1rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  flex-wrap: wrap;
  transition: all .2s linear;
  /* flex-direction: column; */
}
.right-box.active{
  width: calc(100% - 10%);
  /* width: 100%; */
  margin-left:7% ;
}
.right-box-title h1{
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  /* width: 100%; */
}
.right-box-title a{
  color: var(--orange)!important;
  display: inline-block;
  text-decoration: underline!important;
  margin-top: 1rem;
  font-size:1.7rem;
  text-underline-offset: .2rem;
}
.right-box .card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top:2rem ;
}
.right-box .card-container  .card{
    background:var(--white);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 2rem;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: .7rem;
    margin-left: 2rem;
    min-width: 25rem;
    margin-bottom: 1rem;
    /* margin-top: 2rem;   */
    
}
.right-box .card i{
  color: #969696;
}
.right-box .card small{
  font-size: 1.2rem;
  color: var(--black);
}
.right-box .card h3{
  font-size: 3.5rem;
  margin-top: 1rem;
  text-align: center;
}

/* right section end */
/* datatables section start */
.right-box .data-table{
  width: 100%;
  padding: 2rem 1.5rem;
  overflow-x: auto!important;
  margin-top: 2rem;
}
.right-box .data-table table{
  font-size: 1.3rem;
  text-align: center;
  overflow-x: auto;
}
.right-box .data-table tbody tr a{
  display: inline-block;
  margin-right:.8rem;
  color: #000000!important;
}
.right-box .data-table tbody tr a#edit{
  color: #002147!important;
}
.right-box .data-table tbody tr a#delete{
  color: #c40505!important;
}
/* datatables section end */
/* setting sectino start */
.profile-form{
  width: 100%;
  margin-top: 5rem;
}
.profile-form .setting-form{
  width: 50%;
  margin: 2rem auto;
  box-shadow: var(--box-shadow);
  padding: 2rem 3rem;
  border-radius: .5rem;
}
.profile-form h1{
  text-align: center;
  font-size: 2.5rem;
}
.profile-form .setting-form .form-controller{
  margin: 1rem 0;
}
.profile-form .setting-form form label{
  font-size: 1.5rem;
  letter-spacing: .1rem;
}
.profile-form .setting-form input{
  width: 100%;
  border: .1px solid rgba(0,0,0,0.5);
  margin-top:.5rem ;
  padding: .8rem 1rem;
  border-radius: .2rem;
  font-size: 1.5rem;
}
.from-btn-section{
  display: fle;
}
.profile-form .from-btn-section input{
  width: 15rem;
  padding: 1rem 2rem;
}
.profile-form .setting-form input[type='submit']{
  background: var(--orange);
  color: var(--white);
  border-color:transparent;
}
/* login page css start */

.login{
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top right,rgba(0,38,78,0.8),rgba(0,38,78,0.6)),url('../images/nasc-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login .login-form{
  background-color: var(--white);
  padding:1.5rem 2.5rem ;
  border-radius: .5rem;
  width: 40%;

}
.login .login-form h1{
  text-align: center;
  font-size: 2.5rem;
  color: var(--orange);
}
.login .login-form .form-container{
  width: 100%;
  margin-top: 2rem;
}
.login .login-form .form-controller{
  margin-bottom: 1.5rem;
}

.login .login-form .form-controller label{
  font-size: 1.5rem;
}
.login .login-form .form-controller input,.login .login-form .form-controller select{
  width: 100%;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border: 1px solid rgba(0,0,0,0.5);
  background: transparent;
  text-transform: lowercase;
}

.login .login-form .remember-me{
  margin: 1.5rem 0;
  font-size: 1.2rem;
}

.login .login-form input[type='submit']{
  background: var(--orange);
  padding: 1.3rem 2.5rem;
  color: var(--white);
  transition: all .2s linear;
}

.login .login-form input[type='submit']:hover{
  background: transparent;
  color: var(--black);
  border: 1px solid var(--orange);
}
.login .login-form .form-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .login-form .form-footer a{
  display: inline-block;
  color: var(--orange)!important;
  font-size: 1.5rem;
}




/* login page css end */



/* footer section start */
 .footer{
  width: 80%;
  background: var(--white);
  padding: 1.5rem 0;
  z-index: -1000;
  text-align: center;
  margin-left: 18%;
  margin-top: 1.5rem;

} 
.footer p{
  font-size: 1.5rem;
} 
/* footer section end */


/* course wise list css */



/* media query section */
@media (max-width:990px){
  html{
    font-size: 55%;
  }
  .left-box ul li a{
    padding-left: 1rem;
  }
  
}

@media(max-width:768px){
  html{
    font-size: 50%;
  }
  .left-box li span{
    display: none!important;
  }
   .left-box.active li span{
    display: block!important;
  }
  .left-box{
    width: 50px;
    margin-top: 5.8rem;
    z-index: 999;
  }
  .left-box.active{
    width: 200px;
  }
  .left-box li i{
    font-size: 2.5rem;
  }
  .left-box.active li i{
    font-size: 1.8rem;
    float: left;
  }
  .right-box{
    justify-content: flex-start;
    margin-left: 8rem;
  }
  .right-box .card-container{
    flex-direction: column;
  }
  .right-box .card{
    width: 90%;
    margin: 1rem auto;
  }
  .footer{
    width: 100%;
    margin-left: 0;
  }

  .header ul li:first-child{
    display: none;
  }

  /* setting from section */
  .profile-form .setting-form{
    width: 90%;
  
  }
  /* login form css */
  .login .login-form{
    width: 70%;

  }

}

@media(max-width:596px){
  /* .header .search-form .form-controller{
    display: none;
  } */
  .right-box .card{
    width: 95%;
    margin: 1rem auto;
  } 
  .right-box{
    margin-left: 5rem;
  }

  /* login form css */
  .login .login-form{
    width: 90%;

  }
  .course_list,.dep_list{
    display: none!important;
  }
  .print-btn{
    display: none!important;
  }
  
}